tr.clickable {
  cursor: pointer;
  transition: background-color 0.1s;
  &:hover {
    background-color: #f1f3f5 !important;
  }
}

.selected-row {
  background-color: #e9ecef !important;
  font-weight: bold;
}

.table-container {
  min-height: 200px;
}
